@font-face {
    font-family: 'LibreFranklinRegular';
    src: url('../fonts/LibreFranklin-Regular.ttf');
}
@font-face {
    font-family: 'LibreFranklinBold';
    src: url('../fonts/LibreFranklin-Bold.ttf');
}
@font-face {
    font-family: 'LibreFranklinLight';
    src: url('../fonts/LibreFranklin-Light.ttf');
}


.mainContainer{
    font-family:'LibreFranklinRegular';
    background-color: #159895;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding-bottom: 60px;
}

.bodycontainer{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.events{
    background-color: #159895;
    display: flex;
    flex-direction: column;
    width: 300px;
    height:400px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.mainhead{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.eventid{
    font-family:'LibreFranklinBold';
    font-size: 2px;
    color: white;
    margin-right: 10px;
}

.eventname{
    font-family:'LibreFranklinBold';
    font-size: 30px;
    color: black;
}

.sub{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub h3{
    font-family:'LibreFranklinBold';
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.sometrials{
    align-items: center;
    padding-left: 650px;
    color: thistle;
}

body{
    background-color: #27374D;
}