<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventXpert</title>
    <link rel="stylesheet" href="../static/css/homeMain.css">
</head>
<body>
    <div class="hero">
        <img class="logo" src="../static/img/MainLogo.jpg" alt="logo">
        <p class="welcome">Welcome <p class="welcome1">to <p class="welcome2">EventXpert</p></p></p>
            
    </div>
    <div class="dummy"></div>
    <hr>
    <div class="getstarted">
        <div class="options">
            <h3><button class="getstarted">Get Started 🚀</button></h3>
            
        </div>
    </div>
    <div class="temp"></div>
    <div class="aboutus">
        <h2>About us :</h2>
        <p>Welcome to [Your Company Name], where we transform your visions into extraordinary events. Established with a passion for creating unforgettable moments, we take pride in being your trusted event handling partner.</p>
        <div class="dummy"></div>

        <h2>Who we are:</h2>
        <p>At [Your Company Name], we are a team of dedicated event professionals who thrive on turning dreams into reality. With years of collective experience, we have curated a diverse portfolio of successful events, ranging from intimate gatherings to grand celebrations.</p>
        <div class="dummy"></div>

        <h2>Our Mission:</h2>
        <p>Our mission is to curate experiences that go beyond expectations. We believe that every event is unique, and we are committed to bringing creativity, precision, and a personal touch to each project. From meticulous planning to flawless execution, we are dedicated to ensuring that your event reflects your vision and exceeds your expectations.</p>
        <div class="dummy"></div>

        <h2>What sets us apart :</h2>
        <p>Personalized Approach: We understand that each client is unique, and we tailor our services to suit your individual preferences and requirements.
        Attention to Detail: It's the little details that make an event memorable. We pay meticulous attention to every aspect, ensuring a seamless and enchanting experience for you and your guests.
        Industry Expertise: Our team comprises seasoned professionals with extensive knowledge of the event industry. We stay updated on the latest trends and technologies to deliver cutting-edge solutions.</p>
        <div class="dummy"></div>

        <h2>Our services :</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero libero obcaecati dolorum eveniet, iure dignissimos nesciunt aperiam cum commodi explicabo debitis blanditiis recusandae quas eos asperiores sint eum. Cupiditate, culpa.</p>
        <div class="dummy"></div>

        <h2>Why choose us ?</h2>
        <p>Passion for Excellence: We are driven by a passion for excellence, ensuring that every event we handle is a masterpiece. <br>
        Client-Centric Approach: Your satisfaction is our priority. We collaborate closely with you to understand your vision and bring it to life. <br>
        Reliability: Trust is the foundation of our client relationships. We pride ourselves on delivering on time and within budget.</p>
        <div class="dummy"></div>

        <h2>Let's create magic together !</h2>
        <p>Whether you're planning a wedding, a corporate gala, or a special celebration, [Your Company Name] is here to make it extraordinary. Let's embark on a journey to create magical moments that will be cherished for a lifetime.

        Contact us today, and let the celebration begin!</p>
        <div class="dummy"></div>
    </div>
    <footer>
        <div>
        <a href="#" class="foot-panel1">
            <div>Back to top</div>
        </a>
        <div class="foot-panel2">
            <ul>
                <p>Get to know us</p>
                <a href="">Careers</a>
                <a href="">Blog</a>
                <a href="">About [site]</a>
                <a href="">Investor Relations</a>
            </ul>
            <ul>
                <p>Quick links</p>
                <a href="">Help</a>
                <a href="">Nearby Events</a>
                <a href="">Events abraod</a>
                <a href="">Charity</a>
            </ul>
            <ul>
                <p>Let Us Help You</p>
                <a href="">Your Events</a>
                <a href="">Your Transactions</a>
                <a href="">Audience Details</a>
                <a href="">[site] Assistant</a>
            </ul>
        </div>
        <div class="foot-panel3">
            <div class="slogan">"Crafting Events, Creating Memories."</div>
        </div>
    </footer>
</body>
</html>

<script>
    const getstarted = document.querySelector(".getstarted");
    getstarted.addEventListener("click",()=>{
        window.location.href = "/login";
    })
</script>