{% extends 'structure.html' %}
{% block main %}
    <head>
        <link rel="stylesheet" href="../static/css/joinEventId.css">
    </head>
    <h1 class="sometrials">Under Development</h1>
    <div class="bodycontainer" id="je">
        <div class="container">
            {% for item in data %}
                <a class="events" href="/joinevent/{{ item.id }}">
                    <span class="mainhead">
                        <h1 class="eventname">{{  item.eventname  }}</h1>
                    </span>
                    <div class="sub">
                        <h3>{{  item.eventstartdate  }}</h3>
                        <h3>{{  item.eventenddate  }}</h3>
                        <h3>@{{  item.eventlocation  }}</h3>
                        <h3>{{item.eventcategory  }}</h3>
                        <h3>{{ item.eventtype }}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <!-- <script type='module' src="../static/js/OutputJoinEvent.js"></script> -->
{% endblock %}